<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jf2017.3.27.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7653479C1E88B18A0014B3EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>765347B01E88B18B0014B3EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>765347BB1E88B18B0014B3EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
